%html

  %head
    %meta{:charset => "utf-8"}
    %meta{:http_equiv => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "description", :content => "Software engineer. Enthusiastic learner. Wannabe entrepreneur."}
    %title
      Pedro Amaral
    %link{:rel => "stylesheet", :href => "css/app.css"}

  %body
    .presentation
      .row
        .small-12.medium-6.columns.text-center
          %img{:src => "img/profile.png", :class => ["profile-photo"]}
        .small-12.medium-6.columns.small-only-text-center
          %h1
            Hey, I'm Pedro!
          %ul
            %li
              Software engineer.
            %li
              Enthusiastic learner.
            %li
              Wannabe entrepreneur.
            %li
              Organization and planning freak.

    .experience
      .row.position
        .small-12.small-centered.small-text-center.columns
          %h3
            Software Engineer at
            %a{:href => "https://www.seedrs.com/", :target => "blank"}
              Seedrs
          %p.duration
            June 2014 &#8212; Today
          %p.company-logo
            %img{:src => "img/seedrs.png"}

    %hr.experience-separator

    .experience
      .row.position
        .small-12.small-centered.small-text-center.columns
          %h3
            Software Engineer at
            %a{:href => "http://www.altitude.com/", :target => "blank"}
              Altitude Software
          %p.duration
            December 2012 &#8212; June 2014
          %p.company-logo
            %img{:src => "img/altitude.jpg"}

    %hr.experience-separator

    .experience
      .row.position
        .small-12.small-centered.small-text-center.columns
          %h3
            Analyst at
            %a{:href => "http://maksen.com/", :target => "blank"}
              Maksen
          %p.duration
            September 2012 &#8212; December 2012
          %p.company-logo
            %img{:src => "img/maksen.png"}

    %hr.experience-separator

    .experience
      .row.position
        .small-12.small-centered.small-text-center.columns
          %h3
            Grant Holder at
            %a{:href => "http://kdbio.inesc-id.pt", :target => "blank"}
              KDBIO - INESC-ID
          %p.duration
            January 2012 &#8212; September 2012
          %p.company-logo
            %img{:src => "img/kdbio.png"}

    %hr.experience-separator

    .experience
      .row.position
        .small-12.small-centered.small-text-center.columns
          %h3
            Grant Holder at
            %a{:href => "http://fenix-ashes.ist.utl.pt/", :target => "blank"}
              CIIST
          %p.duration
            January 2012 &#8212; September 2012
          %p.company-logo
            %img{:src => "img/ist.png"}

    %hr.experience-separator

    .experience
      .row.position
        .small-12.small-centered.small-text-center.columns
          %h3
            Grant Holder at
            %a{:href => "https://www.l2f.inesc-id.pt", :target => "blank"}
              L<sup>2</sup>f - INESC-ID
          %p.duration
            September 2009 &#8212; September 2010
          %p.company-logo
            %img{:src => "img/l2f.png"}

    .footer
      .row
        .small-12.columns
          %p.text-center
            &copy; 2014
            %a{:href => "mailto:pedro.m.t.amaral@ist.utl.pt"}
              Pedro Amaral
